<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>

    <h1>About page</h1>
    <form action="/about" method="post">
        <div class="">
            <label for="">Name</label>
            <input type="text" name="name" placeholder="Name">
        </div>
        <div class="">
            <label for="">Email</label>
            <input type="email" name="email" placeholder="Email">
        </div>
        <div class="">
            <label for="">Content</label>
            <textarea name="content" id=""></textarea>
        </div>
        <button type="submit">Send</button>
    </form>
    
</body>
</html>