<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Title | Project Manager</title>
</head>
<body>
    <div class="">
        <div class="container">
            <div class="flex space-between">
                <h2>Project Details</h2>
                <a href="/dashboard">Back to Dashboard</a>
            </div>
            <div>
                <div class="flex flex-detail">
                    <span>Project</span>
                    <p>Employee Relations Lazertag</p>
                </div>

                <div class="flex flex-detail">
                    <span>Description</span>
                    <p>Organize a company wide Lazertag competition</p>
                </div>

                <div class="flex flex-detail">
                    <span>Due Date</span>
                    <p>08/01/2023</p>
                </div>

                <div class="">
                    <a href="/dashboard/project/1/tasks" class="btn btn-blue">See tasks!</a>
                </div>

                <form action="" method="post" class="flex flex-end">
                    <button type="submit" class="btn btn-danger">Delete Project</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>