<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Create | Project Manager</title>
</head>
<body class="bg-danger">
    <div class="">
        <div class="container">
            <div class="flex space-between">
                <h2>Project: Employee Relations Lazertag</h2>
                <a href="/dashboard">Back to Dashboard</a>
            </div>
            <form action="" method="post">
                <p>Project Lead: <b>Yasmin</b></p><br>

                <div class="flex">
                    <label for="">Add a task tiket for this team: </label>
                    <div class="form-group">
                        <textarea name="description" id="description" cols="30" rows="5" class="form-input"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>

            <div class="tasks mt-50">
                <ul>
                    <li class="flex flex-detail">
                        <span>Added by Astrid at 12:30pm Mars 3:</span>
                        <p>Prepare for the annual inter-department showcase Gala</p>
                    </li>
                    <li class="flex flex-detail">
                        <span>Added by Astrid at 12:30pm Mars 3:</span>
                        <p>Prepare for the annual inter-department showcase Gala</p>
                    </li>
                    <li class="flex flex-detail">
                        <span>Added by Astrid at 12:30pm Mars 3:</span>
                        <p>Prepare for the annual inter-department showcase Gala</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>